@font-face {
	font-family:'Y SpotlightOTF';
	font-weight: 100;
	src: url('Y-SpotlightOTF.otf'),
	url('Y-SpotlightOTF.woff') format('woff'),
	url('Y SpotlightOTF.ttf') format('truetype'),
	url('Y SpotlightOTF.eot');
}