@font-face {
    font-family:'Noto Sans KR';
    font-weight: 100;
    src: url("NotoSansKR-Thin.otf") format('opentype');
}

@font-face {
    font-family:'Noto Sans KR';
    font-weight: 200;
    src: url("NotoSansKR-Light.otf") format('opentype'),
    url("NotoSansKR-Light.woff2") format('woff2'),
    url("NotoSansKR-Light.woff") format('woff');
}

@font-face {
    font-family:'Noto Sans KR';
    font-weight: 300;
    src: url('NotoSansKR-Light.otf'),
    url('NotoSansKR-Light.woff') format('woff'),
    url('NotoSansKR-Light.ttf') format('truetype'),
    url('NotoSansKR-Light.eot');
}

@font-face {
    font-family:'Noto Sans KR';
    font-style: normal;
    font-weight: normal;
    src: url("NotoSansKR-Regular.otf") format('opentype');
    url("NotoSansKR-Regular.eot?#iefix") format('embedded-opentype'),
    url("NotoSansKR-Regular.woff2") format('woff2'),
    url("NotoSansKR-Regular.woff") format('woff'),
    url("NotoSansKR-Regular.ttf") format('truetype');
}

@font-face {
    font-family:'Noto Sans KR';
    font-weight: bold;
    src: url('NotoSansKR-Medium.otf') format('opentype'),
    url('NotoSansKR-Medium.woff') format('woff'),
    url('NotoSansKR-Medium.ttf') format('truetype'),
    url('NotoSansKR-Medium.eot');
}

/*@font-face {*/
    /*font-family:'Noto Sans KR';*/
    /*font-style: normal;*/
    /*font-weight: bold;*/
    /*src: url('NotoSansCJKkr-Bold.woff') format('woff'),*/
    /*url('NotoSansCJKkr-Bold.otf'),*/
    /*url('NotoSansCJKkr-Bold.ttf') format('truetype'),*/
    /*url('NotoSansCJKkr-Bold.eot');*/
/*}*/
