<nav class="container">
    <div class="btn_menu">
        <div class="btn_icon"></div>
    </div>
    <div class="brand">
        <a href="/">
            <img src="../IMG/logo.png" alt="">
        </a>
    </div>
    <ul class="nav-top">
        <li class="d-inline-block px-5"><b class="text-primary px-5"> &blacksquare;</b><a href="page-login.html">로그인</a></li>
        <li class="d-inline-block px-5"><b class="text-primary px-5"> &blacksquare;</b>회원가입</li>
    </ul>
    <ul class="nav">
        <li class="nav-item"><a href="page-12.html">문자보내기</a></li>
        <li class="nav-item"><a href="page-8.html">톡보내기</a></li>
        <li class="nav-item"><a>발송내역</a></li>
        <li class="nav-item"><a href="page-15.html">전단관리</a></li>
        <li class="nav-item"><a href="page-45.html">주문괄리</a></li>
        <li class="nav-item"><a>고객관리</a></li>
        <li class="nav-item"><a>충전괼리</a></li>
        <li class="nav-item"><a>고객센터</a></li>
    </ul>
    <div class="login-con">
        <a href="page-login.html">
            <img src="../IMG/login.png" alt="로그인">
        </a>
    </div>
</nav>

<!--MOBILE MENU-->
<div class="btn_menu_on" style="display: none;">
<!--    <div class="btn_menu_close" onclick="closeMenu()"></div>-->
    <div class="menu_center-m" style="display: none;">
        <div class="user-con">
            <div class="user-body">
                <img src="../IMG/user.png" alt="">
                <p>로그인을 해주세요</p>
                <!--logged in--------->
<!--                <p class="lh_200">“홍길동”님 안녕하세요 </p>-->
            </div>
            <div class="user-bottom">
                <button class="btn-login">로그인</button>
                <button class="btn-register">회원가입</button>
            </div>
        </div>
        <ul class="menu_1dp">
            <li>
                <div class="menu_name">문자보내기
                    <div class="select_icon"></div>
                </div>
                <div class="menu_2dp_boby" style="display: none;">
                    <ul class="menu_2dp">
                        <li><a href="/Sms/SmsBasic.php" class="on">- 문자</a></li>
                    </ul>
                    <ul class="menu_2dp">
                        <li><a href="#" class="on">- 카카오톡</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="menu_name">고객관리
                    <div class="select_icon"></div>
                </div>
                <div class="menu_2dp_boby" style="display: none;">
                    <ul class="menu_2dp">
                        <li><a href="/Customer/CustomerList.php" class="on">- 고객관리</a></li>
                    </ul>
                    <ul class="menu_2dp">
                        <li><a href="/Customer/DenyList.php" class="on">- 수신거부목록</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="menu_name">발신관리
                    <div class="select_icon"></div>
                </div>
                <div class="menu_2dp_boby" style="display: none;">
                    <ul class="menu_2dp">
                        <li><a href="/Sent/SentList.php" class="on">- 발신현황</a></li>
                    </ul>
                    <ul class="menu_2dp">
                        <li><a href="/Sent/SendReservation.php" class="on">- 발신예약관리</a></li>
                    </ul>
                    <ul class="menu_2dp">
                        <li><a href="/Sent/SendStatistics.php" class="on">- 통계조회</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="menu_name">충전하기
                    <div class="select_icon"></div>
                </div>
                <div class="menu_2dp_boby" style="display: none;">
                    <ul class="menu_2dp">
                        <li><a href="/Charge/ChargeForm.php" class="on">- 충전하기</a></li>
                    </ul>
                    <ul class="menu_2dp">
                        <li><a href="/Charge/ChargeList.php" class="on">- 사용내역</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="menu_name">POP제작
                    <div class="select_icon"></div>
                </div>
                <div class="menu_2dp_boby" style="display: none;">
                    <ul class="menu_2dp">
                        <li><a href="/Pop/PopList.php" class="on">- POP관리</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="menu_name">매장정보
                    <div class="select_icon"></div>
                </div>
                <div class="menu_2dp_boby" style="display: none;">
                    <ul class="menu_2dp">
                        <li><a href="/User/UserInfo.php" class="on">- 매장정보</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="menu_name">이용안내
                    <div class="select_icon"></div>
                </div>
                <div class="menu_2dp_boby" style="display: none;">
                    <ul class="menu_2dp">
                        <li><a href="/Use/UseInfo.php" class="on">- 특징 및 기능</a></li>
                    </ul>
                    <ul class="menu_2dp">
                        <li><a href="/Use/Notice.php" class="on">- 공지사항</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--/MOBILE MENU-->


<!--QUICK MENU-->
<div class="container p-relative">
    <div id="menu-quick" class="menu-quick">
        <h1 class="menu-quick-top">Quick Menu</h1>
        <ul class="menu-quick-body">
            <li>요금안내</li>
            <li>캐시충전</li>
            <li>주소록안내</li>
            <li>발송내역</li>
            <li>스팸차단서비스</li>
            <li>이용가이드</li>
            <li>1:1 문의</li>
        </ul>
        <div class="menu-quick-bottom">
            02.5555.4444
        </div>
    </div>
</div>
<!--/QUICK MENU-->

