<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>One-Click</title>

<link rel="stylesheet" type="text/css" href="../CSS/reset.css">
<link rel="stylesheet" type="text/css" href="../CSS/default.css">
<link rel="stylesheet" type="text/css" href="../CSS/style.css">
<link rel="stylesheet" type="text/css" href="../CSS/responsive.css">
<link rel="stylesheet" href="../PLUGIN/slick-1.8.1/slick/slick.css" type="text/css">
<link rel="stylesheet" href="../PLUGIN/slick-1.8.1/slick/slick-theme.css" type="text/css">

<script src="../JS/common.js"></script>


