<div class="side_nav" data-suffix="member" id="aaa">
    <h1 class="head">회원</h1>
    <ul class="side_menu">
        <li>
            <a href="login.html">로그인</a>
        </li>
        <li>
            <a href="register.html">회원가입</a>
        </li>
        <li>
            <a href="forgot_password.html">ID/PWD찾기</a>
        </li>
    </ul>
</div>

<div class="side_nav" data-suffix="project_add">
    <h1 class="head">프로젝트 등록</h1>
    <ul class="side_menu">
        <li>
            <a href="project_add.html">프로젝트 등록</a>
        </li>
    </ul>
</div>

<div class="side_nav" data-suffix="project_search">
    <h1 class="head">프로젝트 찾기</h1>
    <ul class="side_menu">
        <li>
            <a href="project_search.html">프로젝트 찾기</a>
        </li>
    </ul>
</div>

<div class="side_nav" data-suffix="freelancer_search">
    <h1 class="head">프리랜서 찾기</h1>
    <ul class="side_menu">
        <li>
            <a href="freelancer_search.html">프리랜서 찾기</a>
        </li>
        <li>
            <a href="freelancer_detail.html">프리랜서 정보</a>
            <dl>
                <dd><a href="freelancer_detail.html">프리랜서 정보</a></dd>
                <dd><a href="summary.html">자기소개</a></dd>
                <dd><a href="portfolio.html">포토폴리오</a></dd>
                <dd><a href="knowledge.html">보유기술</a></dd>
                <dd><a href="career.html">경력</a></dd>
                <dd><a href="education.html">학력</a></dd>
                <dd><a href="achievement.html">자격증</a></dd>
            </dl>
        </li>
    </ul>
</div>

<div class="side_nav" data-suffix="client">
    <h1 class="head">마이페이지</h1>
    <ul class="side_menu">
        
        <li>
            <a href="pending_project.html?search=pending" data-search="pending">검토 중</a>
        </li>
        <li>
            <a href="pending_project.html?search=recruiting" data-search="recruiting">프리랜서 모집중</a>
        </li>
        <li>
            <a href="progress_project.html?search=test" data-search="test">진행중인 프로젝트</a>
        </li>
        <li>
            <a href="progress_project.html">종료된 프로젝트</a>
        </li>
        <li>
            <a href="progress_project.html">최소된 프로젝트</a>
        </li>
    </ul>
</div>

<div class="side_nav" data-suffix="freelancer">
    <h1 class="head">마이페이지</h1>
    <ul class="side_menu">
        
        <li>
            <a href="myprofile.html">내 프로필</a>
            <dl>
                <dd><a href="myprofile.html">-  자기소개</a></dd>
                <dd><a href="portfolio.html">- 포토폴리오</a></dd>
                <dd><a href="">- 보유기술</a></dd>
                <dd><a href="">- 경력</a></dd>
                <dd><a href="">- 학력</a></dd>
                <dd><a href="">- 자격증</a></dd>
            </dl>
        </li>
        <li>
            <a href="myprofile.html">지원요청</a>
        </li>
        <li>
            <a href="myprofile.html">지원내역</a>
        </li>
        <li>
            <a href="myprofile.html">진행중인 프로젝트</a>
        </li>
        <li>
            <a href="myprofile.html">종료된 프로젝트</a>
        </li>
        <li>
            <a href="myprofile.html">최소된 프로젝트</a>
        </li>
       
    </ul>
</div>